@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.background {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

#check:checked ~ .background {
    opacity: 1;
    pointer-events: auto;
}

.alert-box {
    max-width: 450px;
    width: 100%;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    z-index: 5;
    margin: 0 10px;
    transition: all 0.3s ease;
    opacity: 0;
    pointer-events: none;
}

.alert-box .icon {
    height: 100px;
    width: 100px;
    color: #f23b26;
    border: 3px solid #f23b26;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.alert-box header {
    font-size: 35px;
    font-weight: 500;
    margin: 10px 0;
}

.alert-box p {
    font-size: 20px;
    text-align: center;
}

.alert-box .btns {
    margin-top: 20px;
}

.alert-box label {
    display: inline-flex;
    height: 55px;
    line-height: 55px;
    background-color: gray;
    padding: 0 20px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

label:first-child {
    background: #2980b9;
}

label:first-child:hover {
    background: #2573a7;
}

label:last-child {
    background: #f23b26;
}

label:last-child:hover {
    background: #d9210d;
}

#check {
    display: none;
}

#check:checked ~ .alert-box {
    opacity: 1;
    pointer-events: auto;    
}

.show-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);    
    height: 55px;
    padding: 0 30px;
    font-size: 20px;
    font-weight: 400;
    line-height: 55px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    background-color: #2980b9;
    transition: all 0.3s ease;

}

.show-button:hover {
    background-color: #2573a7;
}